<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top bg-faded">
  <a class="navbar-brand" href="#"><i class="fa fa-paw" aria-hidden="true"></i> Jason's Diary</a>

  <button class="navbar-toggler" type="button" (click)="showMenu = !showMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!showMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" (click)="showMenu = !showMenu"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/vaccines" (click)="showMenu = !showMenu"><i class="fa fa-fighter-jet" aria-hidden="true"></i> Vaccines </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/history" (click)="showMenu = !showMenu"><i class="fa fa-medkit" aria-hidden="true"></i> Medical History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/deworming" (click)="showMenu = !showMenu"><i class="fa fa-bug" aria-hidden="true"></i> Deworming</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="setFakeRecords()">Set initial records</a>
      </li>
    </ul>
  </div>
</nav>
<div id="router-container">
  <router-outlet></router-outlet>
</div>